<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Prediction</title>
</head>
<style>
    h2 {
    margin-left: 100px;
    font-size: 28px;
}
    textarea{
        margin-left: 100px;
    }
    button {
    margin-left: 631px;
    margin-top: 7px;
    padding: 7px;
    font-size: 22px;
}
h3{
    margin-left:80px;
}
span {
    font-size: 36px;
    margin-left: 436px;
    margin-top: 108px;
    font-weight: bold;
}
</style>
<body>
    <h2>Enter your text here :-</h2>
    <form method="POST" class="example" action="" >
        {% csrf_token %}
        <textarea id="text" name="spam" rows="25" cols="160" >Enter your text here...    
        </textarea>
        <br>
        <button type="submit">Predict</button>
    </form>
    <br>
        {% if prediction %}
        <span>App prediction :-
        {{prediction}}</span>
        {% endif %}
</body>
</html>